html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #fb7185,
    #ec4899,
    #818cf8
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card,
.stats-card,
.glass-card {
  transition: all 0.35s ease;
}

.project-card:hover,
.stats-card:hover,
.glass-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 15px 40px rgba(
      236,
      72,
      153,
      0.15
    );
}

.dark .paragraph {
  color: #d1d5db;
}

.dark .hero-description {
  color: #d1d5db;
}

footer {
  background: rgba(
    255,
    255,
    255,
    0.03
  );

  backdrop-filter: blur(12px);
}

img {
  transition: all 0.4s ease;
}

img:hover {
  transform: scale(1.05);
}

.skill-pill:hover {
  background: #fb7185;
  color: white;
}

.primary-btn {
  cursor: pointer;
}

.secondary-btn {
  cursor: pointer;
}

@media (max-width: 768px) {

  .hero-title {
    font-size: 3rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .glass-card {
    padding: 20px;
  }

}